<h2 align="center">Informacion Maestro Pokemon</h2>

<form [formGroup]="formCabecera" id="formCabecera" class="example-form" #cabecera="ngForm" (ngSubmit)="agregarDatos(cabecera)" xmlns="" novalidate>
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Nombre" formControlName="nombre">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" matInput placeholder="Apellido" formControlName="apellido" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="fechaNacimiento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field >
    <mat-select placeholder="Numero de Medallas" formControlName="numeroMedallas" >
      <mat-option *ngFor="let medallas of medallas" [value]="medallas.value">
        {{ medallas.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field >
    <mat-select placeholder="Eres el Campeon" formControlName="campeon" >
      <mat-option *ngFor="let campeon of campeon" [value]="campeon.value">
        {{ campeon.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" [disabled]="formCabecera.invalid" mat-raised-button color="second" style="width: 50%; margin-left: 25%; margin-top: 10px">Guardar</button>
</form>

<button onclick="document.getElementById('formCabecera').reset()" mat-raised-button color="second" style="margin-top: 5px; margin-left: 25%; width: 50%" >Limpiar</button>





